@import 'reset';
$font_family: 'Roboto', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;

.ban{
	background-size: cover;
	background-image: url("../images/banner.jpg");
	min-height: 315px;
	margin-top: 71px;
	position: relative;
	.layer{
		background-size: cover;
		min-height: 315px;
		top: 0;
  		left: 0;
 		width: 100%;
  		height: 100%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	}
	.p-headtitle{
		padding-top: 190px;
		padding-bottom: 45px;
	}
	h1{
		font-family: $font_family;
  		font-size: 82px;
  		font-weight: $light;
  		color: #ffffff;
	}
}
.p-gallery{
	padding-top: 70px;
	
}

.p-subtitle{
	h2{
		font-family: $font_family;
  		font-size: 50px;
  		font-weight: $light;
  		text-align: center;
  		margin: 0;
  		padding-bottom: 150px;
	}
}
.p-pic{
	justify-content: space-between;
	flex-wrap: wrap;
	.p-img{
		width: calc(50% - 15px);
		padding-bottom: 30px;
		img{
			max-width: 100%;
			display: block;
		}		
	}
}

.s-subtitle h2{
	font-family: $font_family;
	font-size: 50px;
	font-weight: $light;
	text-align: center;
	padding: 70px 0 150px 0;
}

.s-content{
	justify-content: space-between;
	flex-wrap: wrap;

	.s-paragraph{
		width: 50%;
		padding-right: 60px;
		.s-p1{
				font-family: $font_family;
				font-size: 32px;
				font-weight: $regular;
				//margin-left: 245px;
		}
		.s-p2{
				font-family: $font_family;
				font-size: 18px;
				font-weight: $regular;
				//margin-left: 245px;
		}
		.s-p3{
				font-family: $font_family;
				font-size: 16px;
				font-weight: $regular;
				text-align: right;
				a{
					text-decoration: none;
					color: black;
				}	
		}
	}
	.s-pic{
		padding-left: 60px;
		width: 50%;
		margin: 0;
		img{
			max-width: 100%;
			display: block;
			margin: 0;
		}
	}
}	

.s-second{
	background-color: black;
	margin: 70px 0;
	.s-gallery{
		justify-content: space-between;
		flex-wrap: wrap;
		.s-section{
			width: calc(50% - 15px);
			padding: 70px 0;
			img{
				max-width: 100%;
				display: block;
			}
			p{
				color: white;
				font-family: $font_family;
				font-size: 36px;
				font-weight: $light;
				text-align: center;
			}
		}
	}
}

.s-third{
	.s-paint{
		justify-content: space-between;
		flex-wrap: wrap;
		.s-inside{
			width: calc(50% - 40px);
			img{
				max-width: 100%;
				display: block;
			}
			h3{
				font-family: $font_family;
				font-size: 32px;
				font-weight: $regular;
				padding: 70px 0;
				margin: 0;				
			}
			p{
				font-family: $font_family;
				font-size: 18px;
				font-weight: $regular;
				padding: 0;
				margin: 0;
			}
		}
	}
}

.first{
	background-size: cover;
	min-height: 100vh;
	background-image:  url("../images/construction-home.jpg");
}


.logo{
	padding: 10px 0;
}

.flex{
	display: flex;
}
.sss{
	margin: 16px 0;
	display: none;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;


 	.icon {
    display: none;
	}
	#search{
	display: block;
	}
}
header > .flex{
	justify-content: space-between;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;  
}

.second{
	padding-bottom: 70px;
  	.black_box{
  		max-width: 680px;
  		//height: 710px;
  		font-family: $font_family;
  		font-size: 56px;
  		font-weight: $light;
  		color: #ffffff;
  		background-color: black;
  		margin-top: -380px;
  		//margin-left: 0px;
  		margin-bottom: 70px;
  		padding: 125px 115px 150px 150px;
  		//margin: 0 auto; */
	}
	.flex{
		justify-content: space-between;
		flex-wrap: wrap;
	}
	#p1{
				font-family: $font_family;
				font-size: 32px;
				font-weight: $regular;
				//margin-left: 245px;
	}
	#p2{
				font-family: $font_family;
				font-size: 18px;
				font-weight: $regular;
				//margin-left: 245px;
	}
	#p3{
				text-align: right;
				a{
				text-decoration: none;
				color: black;
				font-family: $font_family;
				font-size: 16px;
				font-weight: $regular;
				}
	}
	.paragraph{
		padding-right: 60px;
		width: 50%;
	}
	#bridge{
		padding-left: 60px;
		width: 50%;
	}
}

 
.heading_menu > ul{
	list-style: none;
	justify-content: space-between;
}

.heading_menu ul a {
	text-decoration: none;
	font-family: $font_family;
	font-size: 14px;
	font-weight: $regular;
	color: #000000;
	margin: 25px 20px 25px 10px;
}

.heading_menu ul a:hover{
	color: #e9ae54;
}
.fa-search:hover{
	color: #e9ae54;
}

header .container{

	.fa-search{
		padding: 20px 0px 20px 30px;
		border-width: 1px;
		border-left-color: #e5e5e5;
		border-left-style: solid;
		}	
	.fa{
		padding: 0px 0px 55px 0px;
		}
}

.third{
	background-color: black;
	background-size: cover;
	padding-bottom: 70px;
	background-position: center;
	h2{
		font-family: $font_family;
		color: #ffffff;
		font-size: 46px;
		font-weight: $light;
		text-align: center;
		padding: 70px 0 150px 0;

	}
	.flex{
		font-family: $font_family;
		color: #ffffff;
		list-style: none;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
	}
	h3{
		font-size: 46px;
		font-weight: $light;
		margin: 0;		
	}
	p{
		font-size: 18px;
		font-weight: $light;
		color: #979797;
		margin: 45px 0 0 0;
	}
	.list{
		width: calc(50% - 80px);
		padding: 0 0 80px 0;	
	}
	.learn_more{
		text-align: center;

	}
	a{
		font-family: $font_family;
		font-size: 18px;
		font-weight: $light;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		position: center;
		padding: 20px 60px;
		border: 1px solid white;
		display:inline-block;
		//margin-bottom: 70px;
		//margin-top: 100px;
	}

}

.fourth{
	padding: 70px 0;
	h2{
		font-family: $font_family;
		font-size: 46px;
		font-weight: $light;
		text-align: center;
		margin: 0;
		padding-bottom: 70px;
	}
	.what_we_do{
		justify-content: space-between;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.what_we_do .inner{
		width: calc(50% - 60px);
		padding: 70px 0 70px 0;
		font-family: $font_family;
		img{
			max-width: 100%;
			display: block;
		}
		h3{
			font-size: 42px;
			font-weight: $light;
		}
		p{
			font-size: 18px;
			font-weight: $light;
		}
	}
	.john_doe{
		background-size: cover;
		background-position: center;
		background-color: #e7a848;
		text-align: center;
		padding-bottom: 170px;
		.fab{
			font-size: 35px;
			padding-top: 95px;
		}
		h3{
			font-family: $font_family;
			font-size: 18px;
			font-weight: $regular;
			margin: 35px 0 50px 0;
		}
		p{
			font-family: $font_family;
			font-size: 27px;
			font-weight: $regular;
			max-width: 530px;
			margin: 0 auto;
		}
	}
	.trademarks{
		//justify-content: space-between;
		padding-top: 70px;
	}
	.owl-item{
		padding: 0 25px;
	}
}

.fifth{
	background-size: cover;
	background-position: center;
	background-color: #3b3d3f;
	padding-top: 60px;
	padding-bottom: 85px;
	font-family: $font_family;
	.site_menu{
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.both{
		width: calc(25%);
		p{
			font-size: 14px;
			font-weight: $regular;
			color: white;
			padding-top: 55px;
			margin: 0;
		}
		.uli{
			a{
				font-size: 14px;
		 		font-weight: $bold;
				color: white;
				text-decoration: none;
			}
		} 
	}
	.three{
		//width: calc(15% - 30px);
		a{
			font-size: 14px;
			font-weight: $regular;
			color: white;
			text-decoration: none;
		}
	}
	h4{
		font-size: 18px;
		font-weight: $regular;
		color: white;
		margin-bottom: 50px;	
	}
	ul{
		list-style: none;
		padding: 0;
	}
	li{
		padding-bottom: 20px;
	}
	.fa{
		font-size: 14px;
		color: #e7a848;
		padding-right: 20px;
		padding-bottom: 20px;
	} 
}
.mainfooter{
	font-family: $font_family;
	font-size: 16px;
	font-weight: $regular;
	color: #8b8d8e;
	background-color: #26292b;
	padding-top: 50px;
	padding-bottom: 30px;
	.flex{
		list-style: none;
		justify-content: space-between;
		margin: 16px 0;
		padding-left: 40px;
	}
	a{
		text-decoration: none;
		color: #8b8d8e;
	}
	a:hover{
		color: white;
	}
	.footer{
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.fa-at{
		padding-right: 8px;
	}
	.bottom-menu{
		width: 45%;
	}
	.social{
		width: 20%;
	}
	.kaz{
		width: 35%;
	}
}

@media screen and (max-width: 700px) {
	.p-pic{
		.p-img{
			width: 100%;
		}
	}
	.s-content{
		.s-paragraph{
			width: 100%;
			padding: 0;
		}
		.s-pic{
			width: 100%;
			padding: 0;
		}
	}
	.s-second{
		.s-gallery{
			.s-section{
				width: 100%;
			}
		}
	}
	.s-third{
		.s-paint{
			.s-inside{
				width: 100%;
				padding: 0;
			}
		}
	}
	.third .list {
		width: calc(100%);
	}
	.fourth{
		.what_we_do .inner {
			width: 100%;
		}	
		.pic{
		order: -1;
		}
		.owl-item{
			padding: 50px;
			//max-width: 100%;
		}
	}	
	.fifth .final{
		text-align: center;
		width: 100%;
	}
	.second{
		.paragraph{
			width: 100%;
		}
		#bridge{
			width: 100%;
		}
		.black_box{
		padding: 125px 0 150px 0;
		width: 100%;
		}
	}
	.nav a {display: none;}
  	header .icon {
    	float: right;
    	display: block;
    	text-decoration: none;
		font-family: $font_family;
		font-size: 14px;
		font-weight: $regular;
		color: #000000;
		margin: 25px 20px 25px 10px;
  	}
	.nav.responsive {position: relative;}
  	header .responsive a.icon {

  		list-style: none;
    	position: absolute;
    	right: 0;
    	top: 0;
  	}
  	.nav.responsive a {
    	float: none;
    	display: block;
    	text-align: left;
  	}
  	.mainfooter .foo{
  		text-align: center;
  		width: 100%;
  	}

}


			
		
